* {
    font-family: 'Nunito', sans-serif;
    color: #383838;
}

.f-32 {
    font-size: 32px !important;
}

.f-45 {
    font-size: 45px !important;
}

select {
    line-height: 1;
    padding-right: 30px !important;
    border: 0;
    border-radius: 5px;
    background: url(https://img.icons8.com/color/48/000000/chevron-down.png) no-repeat right transparent;
    -webkit-appearance: none;
    background-position-x: 100%;
    background-size: 22px
}

.img-delivery {
    bottom: 24px;
    left: 1rem;
}

.regalo {
    background-image: url(img/regalo.png);
    background-size: 115px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 66px;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form p {
    text-align: center;
}

#form label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover~label {
    color: orange;
}

input[type="radio"]:checked~label {
    color: orange;
}

.b-c {
    border-radius: 15px 0px;
}

/*@media only */
@media only screen and (max-width: 380px) {
    p.text-left.text-2xl.font-bold.text-orange-500 {
        font-size: 18px !important;
        left: 17px;
        position: relative;
    }
}